<dl>
{%- for entry in entries -%}
  {%- set entry_stem = entry.meta.id.split(":", 1)[0] -%}
  {%- if entry_stem == stem -%}
  <dt>{{ entry.fl }}&#160;
    {%- for pr in entry.hwi.prs %} <span class="mw">\ {{ pr.mw }} \</span>{% endfor -%}
    {%- if stem != word -%}
      <ul style="list-style:none;margin:0;padding:0 0 0 1.5em;">
      {%- for uro in entry.get("uros", []) -%}
        {%- if uro.ure|replace("*", "") == word -%}
        <li><b>{{ uro.ure }}</b> {{uro.fl}}&#160;
        {%- for pr in uro.prs %} <span class="mw">\ {{ pr.mw }} \</span>{% endfor -%}
        </li>
        {%- endif -%}
      {%- endfor -%}
      <ul>
    {%- endif -%}
  </dt>
  <dd style="margin:0;padding:0;"><ol style="margin:0;padding:0 0 0 1.5em;">
    {% set sseq_ns = namespace(items=[]) %}
    {%- for sseq_outter in entry.def -%}
      {%- for sseq in sseq_outter.sseq -%}
        {%- set sseq_ns.items = sseq_ns.items + sseq -%}
      {%- endfor -%}
    {%- endfor -%}

    {%- for def in entry.shortdef -%}
      <li>
        {{ def }}
        {%- for dt_item in sseq_ns.items[loop.index0][1].dt -%}
          {%- if dt_item[0] == "vis" -%}
        <blockquote>
            {{ dt_item[1][0].t | replace("{wi}", "<em>") | replace("{it}", "<em>") | replace("{/wi}", "</em>") | replace("{/it}", "</em>") }}
            {%- if 'aq' in dt_item[1][0] -%}
          <footer>– {{ dt_item[1][0].aq.auth }}</footer>
            {%- endif %}
        </blockquote>
          {%- endif -%}
        {%- endfor -%}
      </li>
    {%- endfor -%}
    </ol>
  </dd>
  {%- endif -%}
{%- endfor -%}
  <dt><small><a href="eudic://dict/{{ stem | replace(" ", "%20") }}">→</a></small></dt>
</dl>