[env._.python.venv]
path = ".venv"
create = true

[tasks.build]
run = "python build.py words.txt"
alias = "default"
sources = ['words.txt']
outputs = ['out/Words.csv']

[tasks."import:kindle"]
run = "python import_kindle.py"
outputs = ["words.txt"]

[tasks."import:eudic"]
usage = """
arg "<file>" default="eudic.html"
"""
run = "python import_eudic.py"
outputs = ["words.txt"]

[tasks."archive:eudic"]
run = "python add_to_eudic.py --book Archive --move words.txt"

[tasks."archive:kindle"]
run = "python add_to_eudic.py --book Kindle words.txt"

[tasks.empty]
description = "empty words.txt"
run = ": > words.txt"
run_windows = "type nul > words.txt"

[tasks.clean]
description = "rm out eudic.html"
run = "rm -rf out eudic.html"
run_windows = [
  "if exist out rd /s /q out",
  "if exist eudic.html del /q eudic.html",
]
